#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        ;;

    package)
        cp -R var ${pkgdir}/
        ;;

    install)
        chmod 660 /var/lib/asterisk/moh/default/incrediblepbx_reno_project-system.wav
        chown asterisk.www-data /var/lib/asterisk/moh/default/incrediblepbx_reno_project-system.wav
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac

